body {
    padding: 50px;
    font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif;
    max-width: 900px;
    width:94%;
    margin: auto;
}
p {
    font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}

img {
    width: 100%;
    height:auto;
}
h1 {
    font-size:24pt;
}