body {
    font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: auto;
}
article {
    max-width:900px;
    width:90%;
    margin:auto;
}
p {
    font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif !important;
}
a {
    color: #00B7FF;
}

img {
    width: 100%;
    height:auto;
}
h1 {
    font-size:24pt;
}
h1 a {
    color: black;
    text-decoration: none;
}